@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #4caf50; /* Vert pour 'disponible' */
}
input:checked ~ span {
    background-color: #4caf50; /* Fond vert pour 'disponible' */
}
